#app{
	margin-bottom: 20px;
}
.error{
	border: 1px solid red;
}
.left-container{
	padding: 0;
	margin-right: 20px;
	margin-bottom: 20px;
}

.list-dags{
	background-color: #FFF;
	height: 650px;
	overflow-y: scroll;
}
.dag-item{
	padding: 10px 15px;
}
.dag-item:hover{
	cursor: pointer;
	background-color: rgba(232,232,232, 0.5);
}
.dag-item>span>.badge{
	margin: 0 20px;
}
.dag-item>span>i{
	font-size: 16px;
	cursor: pointer;
	margin: 2px 5px;
	color: #005a63;
	float: right;
}
.dag-item>span>i:hover{
	color: red;
}
.dag-item.active{
	background-color: #1e90ff;
	color: #fff;
}

.task-group{
	padding: 5px 0 0 5px;
	border-radius: 5px;
}

.multiselect{
	width: 95%;
	position: absolute;
	z-index: 999;
}
.selectBox{
	position: relative;
}
.selectBox select{
	width: 100%;
	font-weight: bold;
	padding: 7px;
}
.overSelect{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.checkboxes{
	visibility: hidden;
	border: 1px solid #e3e3e3;
}
.checkboxes label{
	background-color: #FFF;
	cursor: pointer;
	padding: 10px;
	display: block;
	margin: 0;
}
.checkboxes label:hover{
	background-color: #1e90ff;
}

#list-tasks{
	height:340px;
	overflow-y:scroll;
}

.btn{
	border: none !important;
}
.add-task-btn{
	margin-top: 10px;
	float:right;
}
.sql-textarea{
	min-height: 100px;
	max-width: 120%;
	width: 100%;
}

.notification{
	position: fixed;
	top: 60px;
	right: 10px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s, opacity 0.5s;
	transition: visibility 0s, opacity 0.5s;
}
.active{
	visibility: visible;
	opacity: 1;
}
