{% extends 'admin/master.html' %}
{% block body %}
	<div id='main-content'>
		<h1>Hello World from {{content}}</h2>
		<h4>Airflow version: {{airflow_version}}</h4>
		<div>
			<h4>Dag Directory</h4>
			<h6>Host: {{host_name}}</h6>
			<h6>Folder: {{dags_folder}}</h6>
			<div>
				<ul>
				{% for dags_folder_contents_line in dags_folder_contents %}
					{% if dags_folder_contents_line.startswith('/') %}
					<li>{{dags_folder_contents_line}}</li>
					{% else %}
					<ul>
						<li>{{dags_folder_contents_line}}</li>
					</ul>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
