{% extends 'admin/master.html' %}
{% block title %}Airflow - Dag Generator{% endblock %}
{% block head %}
	{{super()}}
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel='stylesheet' type='text/css' href="{{url_for('dag_tools.static', filename='css/base.css')}}">
{% endblock %}
{% block body %}
	{{super()}}
	<div id='app' class='main-body container row'>
		<h2><b>BigQuery Scheduler</b></h2>
		<div class='col-lg-3 left-container'>
			<div class='list-dags'>
				<div class='dag-item' v-for="item in dag_list" @click="viewDAG(item.dag_id)" v-bind:class="displayDiv('activeDag', {id: item.dag_id})">
					<span>[[item.dag_id]] 
						<span class='badge'>[[item.cron]]</span>
						<i class='fa fa-minus-circle delete-icon' @click.stop="deleteDAG(item.dag_id)"></i>
					</span>
				</div>
			</div>
		</div>

		<div class='col-lg-8 dag-list right-container'>
			<form id='dag-form' enctype='multipart/form-data' @submit.prevent="onSubmit()">	
				<div class='col-md-7'>
				<!--dag_id field-->
				<div class='form-group row'> 
					<label class='col-md-2 col-form-label'>Dag Id</label>
					<div class='col-md-10'>
						<input class='form-control' v-bind:class="displayDiv('checkError', {key:'dag_id'})" 
							type='text' name='dag_id' v-model='dag.dag_id' :readonly='form_status !== "create"' />
					</div>
				</div>
				<!--scheduler field-->
				<div class='form-group row'>
					<label class='col-md-2 col-sm-12 col-form-label'>Scheduler</label>
					<div class='col-md-3 col-xs-6'>
						<select class='form-control' name='interval' 
							v-model='dag.interval'>
							<option value='daily'>daily</option>
							<option value='weekly'>weekly</option>
							<option value='monthly'>monthly</option>
						</select>
					</div>
					<div class='col-md-7 col-xs-6'>
						<div class='col-md-9'>
							<input type='number' min='1' max='31' class='form-control' name='day-month' 
								v-model='dag.day_month' v-bind:class="(dag.interval==='monthly'?'active':'hidden')"/>
							<select class='form-control' name='day-week'
								v-model='dag.day_week' v-bind:class="(dag.interval==='weekly'?'active':'hidden')">
								<option value='0'>sunday</option>
								<option value='1'>monday</option>
								<option value='2'>tuesday</option>
								<option value='3'>wednesday</option>
								<option value='4'>thursday</option>
								<option value='5'>friday</option>
								<option value='6'>saturday</option>
							</select>
							<input class='form-control' type='time' name='scheduler' v-model='dag.scheduler'/>
						</div>
					</div>
	
				</div>
				<!--email/owner field-->
				<div class='form-group row'>
					<label class='col-md-2 col-form-label'>Email/Owner</label>
					<div class='col-md-10'>
						<input class='form-control' type='email' name='email' v-model='dag.email' :readonly='form_status !== "create"'/>
					</div>
				</div>
				</div>
				<!--advanced form-->
				<div class='advanced-form well col-md-5'>
					<div class='form-group row'>
						<label class='col-md-6 col-form-label'>write disposition</label>
						<select name='write_disposition' v-model='dag.write_disposition'>
							<option value='WRITE_EMPTY'>WRITE_EMPTY</option>
							<option value='WRITE_APPEND'>WRITE_APPEND</option>
							<option value='WRITE_TRUNCATE'>WRITE_TRUNCATE</option>
						</select>
					</div>
					<div class='form-group row'>
						<label class='col-md-6 col-form-label'>create disposition</label>
						<select name='create_disposition' v-model='dag.create_disposition'>
							<option value='CREATE_IF_NEEDED'>CREATE_IF_NEEDED</option>
							<option value='CREATE_NEVER'>CREATE_NEVER</option>
						</select>
					</div>
					<div class='form-group row'>
						<label class='col-md-6 col-form-label'>priority</label>
						<select name='priority' v-model='dag.priority'>
							<option value='INTERACTIVE'>INTERACTIVE</option>
							<option value='BATCH'>BATCH</option>
						</select>
					</div>
					<div class='form-group row'>
						<label class='col-md-6 col-form-label'>
							<input type='checkbox' name='allow_large_results' 
								v-model='dag.allow_large_results'/> allow large results</label>
						<label class='col-md-6 col-form-label'>
							<input type='checkbox' name='use_legacy_sql' 
								v-model='dag.use_legacy_sql'/> use legacy sql</label>
					</div>	
				</div>
				<div class='col-md-12'><hr/></div>
				<div id='list-tasks' class='col-md-12'>				
					<div v-for='(task,index) in dag.tasks' class='task-group' v-bind:class="displayDiv('checkError', {key: `tasks-${index}`})">
						<div class='form-group row'>
							<!--task_id field-->
							<div class='col-md-3'>
								<input class='form-control' type='text' name='task_id' 
									placeholder='task_id'
									v-model='task.task_id'/>
							</div>
							<!--parent field-->
							<div class='col-md-3'>
								<div class='multiselect'>
									<div class='selectBox' @click="toggleDropdown(index)">
										<select><option>select parent</option></select>
										<div class='overSelect'></div>
									</div>
									<div class='checkboxes' v-bind:class="displayDiv('dropdown', {reversed: false, index: index})"> 
										<label v-for='x in dag.tasks'
											v-if="checkCycle(task, x)"/>
											<input type='checkbox' :value="x.task_id" v-model='task.parents'>
										[[x.task_id]]</label>
									</div>
								</div>
							</div>
							<div class='col-md-3 button-group'>
								<button class='btn btn-small btn-success' @click.prevent="addTask()" 
									v-if='index === (dag.tasks.length-1)'>add task</button>
								<button class='btn btn-small btn-danger' @click.prevent="deleteTask(index)"
									 v-if='index > 0'>remove</button>	
							</div>
						</div>

						<div class='form-group row'>
							<div class='col-md-10'>
								<label for='file-check' @click.prevent='toggleUpload(index)'>
									<input id='file-check' type='checkbox' name='upload'
										v-model='task.upload'/> upload file
								</label>
								<div class='clearfix'></div>	
								<textarea class='sql-textarea' name='sql-expression' v-model='task.sql'
									v-bind:class="displayDiv('upload', {reversed: true, index: index})" rows='5'>
								</textarea>
								<input class='form-control' name='sql-file' ref='file' @change="handleFileUpload(index)"
									v-bind:class="displayDiv('upload', {reversed: false, index: index})" type='file' accept='.sql'>
							</div>
						</div>
					</div>
				</div>
				<div class='col-md-12'><hr/></div>	
				<div class='col-md-12'>
					<button v-if='form_status == "create"' class="btn btn-small btn-success">submit</button>
					<button v-if='form_status == "update"'class="btn btn-small btn-warning">update</button>
					<button type='button' v-if='form_status != "create"' class='btn btn-small btn-link' @click='defaultFormContent'>cancel</button>
				</div>
				<input type='hidden' name='csrftoken' value='{{ csrf_token() }}'/>
			</form>
		</div>
		<div class='notification alert' v-bind:class="displayDiv('notify')">
			<span>[[notification.message]] <i class='fa fa-times'></i><span>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="{{url_for('dag_tools.static', filename='js/script.js')}}"></script>
{% endblock %}
