from datetime import datetime, timedelta
from airflow import DAG
from airflow.models import Variable
from airflow.contrib.operators.bigquery_operator import BigQueryOperator
from airflow.operators.dummy_operator import DummyOperator
import os

config = {
	'bq_dataset': Variable.get('bq_dataset'),
	'gc_conn_id': Variable.get('gcp_conn_id')
}

default_args = {
	'owner': 'airflow',
	'depends_on_past': False,
	'start_date': datetime.combine(datetime.today()-timedelta(days=1), datetime.min.time()),
	'email': ['airflow@airflow.com', '{{args.email}}'],
	'email_on_failure': False,
	'email_on_retry': False,
}

with DAG(dag_id='{{args.dag_id}}', schedule_interval='{{args.schedule}}', default_args=default_args) as dag:
	task_start_dag = DummyOperator(task_id='start_dag_{}'.format(dag.dag_id))
{% for task in tasks %}
	task_{{task.task_id}} = BigQueryOperator(
		task_id='task_{{task.task_id}}', 
		bql="{{task.sql_fname[19:]}}",
		destination_dataset_table=config['bq_dataset'],
		allow_large_results={{args.allow_large_results}},
		bigquery_conn_id=config['gc_conn_id'],
		use_legacy_sql={{args.use_legacy_sql}},
		write_disposition='{{args.write_disposition}}',
		create_disposition='{{args.create_disposition}}'
	)
{% if task.parents|length > 1 %}
	task_wait_{{loop.index}} = DummyOperator(task_id='wait_task_{}'.format({{loop.index}}))
{% endif %}
{% endfor %}
	task_finish_dag = DummyOperator(task_id='finish_dag_{}'.format(dag.dag_id))
	task_wait = DummyOperator(task_id='wait_task')

{% for task in tasks %}
	{% set outer_loop = loop %}
	{% if task.parents|length == 0 %}
task_start_dag >> \
task_{{task.task_id}}
	{% elif task.parents|length > 1 %}
	{% for parent in task.parents %}
task_{{parent}} >> \
task_wait_{{outer_loop.index}}
	{% endfor %}
task_wait_{{outer_loop.index}} >> \
task_{{task.task_id}}
	{% elif task.parents|length == 1 %}
task_{{task.parents[0]}} >>\
task_{{task.task_id}}
	{% endif %}	
{% endfor %}

{% for task in tasks %}
	{% if task.parents|length >= 0 and task.task_id not in parents %}
task_{{task.task_id}} >> \
task_wait
	{% elif task.task_id not in parents %}
task_wait_{{loop.index}} >> \
task_wait
	{% endif %}
{% endfor %}

task_wait >> \
	task_finish_dag
